body {
width: 550px;
height: 729px;
display:flex;
flex-direction: column;
background-color:#F4F4F4;
}
#top-box {
    display:flex;
    flex-direction: column;
    background-color: #6943FF;
    align-content: center;
    justify-content: center; 
    align-items:center;
}
#input-el {
width: 117px;
height: 83px;
border-radius: 5px;
border: 2px solid #B295FF;
background-color: #6943FF;
font-family: Inter;
font-size: 58px;
font-weight: 800;
line-height: 24.39px;
text-align: center;
color:#FFFFFF;
}
#convert-el {
width: 117px;
height: 42px;
margin: 20px 34px;
padding: 9px 27.5px 9px 27.5px;
border-radius: 5px;
opacity: 0px;
}
ul {
    list-style-type: none;
    display:flex;
    flex-direction: column;
    align-content: center;
    justify-content: center; 
    align-items:center;

}
    
li {
    width: 500px;
    height: 108.57px;
    border-radius: 4.68px;
    border : 1px  ;
    text-align: center;
    color:#5A537B;
    font-weight: bold;
    background-color:#FFFFFF;
    margin: 23.43px;
    font-family: inter;
    font-size:20px;
    padding-top:31px;
}    

#header {
    color:white;
    text-align: center;   
}
#conv-list {
    
}